name: Mirror & Validate APIs (PR)

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  mirror-and-tag:
    name: Mirror APIs on temp branch & discover modules
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR head
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run mirrorer (regenerate mirrors)
        run: make mirror

      - name: Run mirrorer (generate tags)
        run: make tag

